@define-color w-black   #191919;
@define-color w-white   #ffffff;
@define-color w-gray    #3D3D3D;
@define-color w-l-gray  #666666;
@define-color w-blue    #276FBF;
@define-color w-purple  #A63446;

* {
  font-family: "Atkinson Hyperlegible";
  font-size: 13px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: @w-black;
  color: @w-white;
}

#workspaces button {
  padding: 0 4px;
  color: @w-white;
  background: transparent;
  border: none;
}

#workspaces button.active {
  color: @w-blue;
}

#workspaces button.urgent {
  color: @w-purple;
}

#window {
  color: @w-white;
  padding: 0 6px;
}

#cpu,
#gpu,
#memory,
#battery,
#clock {
  padding: 0 6px;
  background: transparent;
  color: @w-white;
}

#battery.charging {
  color: @w-blue;
}

#battery.critical {
  color: @w-purple;
}
